.navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.titleImg {
  width: 50px;
  height: 50px;
  margin: auto;
}
.navbar {
  background-color: #ecf9ff;
  height: 70px;
}
.t1 {
  position: relative;
  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  margin: auto;
  padding: 10px;
  cursor: pointer;
}

.t1::after {
  content: '';
  position: absolute;
  background-color: black;
  height: 3px;
  width: 0;
  bottom: -10px;
  left: 0;
  transition: 0.2s;
}
.t1:hover {
  color: black;
  font-weight: bold;
}
.t1:hover:after {
  width: 100%;
}

.t {
  margin: auto;
  padding: auto;
}
.icons {
  padding: auto;
  color: black;
  cursor: pointer;
}
.icons1 {
  margin: 0 0 10px 10px;
  padding: 10px;
  color: black;
}
.icons1:hover {
  color: gray;
}
.toggle {
  display: none;
  cursor: pointer;
}

@media (max-width: 758px) {
  .toggle {
    display: block;
    color: black;
  }
  .t {
    display: none;
  }
  .icons {
    display: none;
  }
}
